
<div id = "container">
    <div class = "overflow-hidden container-lg card">

        <!-- form for creating the tasks list -->

        <form action="/create-list" method="POST">

            <div class="row row-cols-1 justify-content-start">

                <!-- Taking input for Description -->
                <div class="col-12">
                    <h6 class="card-subtitle mt-3 mb-2 text-muted">DESCRIPTION</h6>
                    <input type="text" class="shadow w-100 p-1 desc" name="description" placeholder="What do you need to do?" required> 
                </div>

            </div>
            <div class="row row-cols-2 justify-content-start">

                <div class="col-6">
                    <!-- Taking input for Category through dropdown -->
                    <label for="category" class = "category-card mb-2">CATEGORY </label>
                    <select name="category" id="category" class = "shadow w-100 p-2 mb-3 category-card" onchange="categoryChange(this.options[this.selectedIndex].value)" required>
                        <!-- <input name = "category" required> -->
                        <option disabled selected>--Select a category--</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="School">School</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

                <!-- Taking input for Date -->
                <div class="col-6 justify-content-start">
                    <label for="date" class="due-date-card mb-2">DUE DATE</label>
                    <input type="date" class="shadow w-100 p-1 mb-3 due-date-card" name="dateValue" id="date" required>
                </div>

            </div>

            <!-- Add Task and delete task button -->
            <div class="justify-content-center text-center">
                <button type="submit" class="shadow-lg btn btn-success btn-lg rounded-pill" id="addButton"><i class="fa fa-plus-square me-2" > </i>Add Task</button>
                <button type="submit" class="shadow-lg btn btn-danger btn-lg offset-md-1 rounded-pill" id="deleteButton"><i class="fa fa-trash-alt me-2"></i>Delete Tasks</button> 
            </div>

        </form>
        
        
    </div>
        
    <!-- <form action="/delete-list" method="post"> -->
    <!-- </form> -->
    <ul>
            
        <!-- Showing the tasks to the user by using proper IDs and bootstarp -->
        <% for (let i of todo_list) { %>
            <div class="card task-card changeC">
                <div class="tick-box">
                    <input type="checkbox" name="deletecheck" class="select-task deletecheck" onclick="checkedOrNot()" uid = <%= i._id %> >
                </div>
                <div class="card-body task-body"> 
                    <!-- <input type="checkbox" class="select-task" id="checkbox" name="<%= i._id %>"> -->
                    <h5 id=<%= i._id %> class = "card-title dsc" uid = <%= i._id %>><%= i.description %></h5>
                    <p class = "position-absolute top-50 end-0 translate-middle btn btn-primary"><%= i.category %></p>
                    <p id= <%= i._id + 2 %> class = "text-muted dueDate" > <i class="far fa-calendar-alt me-2"></i> <%= i.date %></p>
                    
                </div>
            </div>
            
        <% } %>


        <!-- if task list is empty then no task added message will be printed -->
        <% if( todo_list.length == 0 ) {%>
            <h1 class="mt-4" style="text-align: center;">No task Added Yet!</h1>
    
        <% } %>

    </ul>
</div>
