<link rel="stylesheet" href="/css/home.css">

<div id = "main-container">
    <form action="/create-list" method="POST">
        <table>
            <tr>
                <td>
                    <label for="description">DESCRIPTION</label>
                    <input type="text" name="description" placeholder="What do you need to do?" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="category">CATEGORY </label>
                    <select name="category" id="category" onchange="categoryChange(this.options[this.selectedIndex].value)">
                        <!-- <input name = "category" required> -->
                        <option disabled selected>--Select a category--</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="School">School</option>
                        <option value="Others">Others</option>
                    </select>
                </td>
                <td>
                    <label for="date">DUE DATE</label>
                    <input type="date" name="date" id="date" required>
                </td>
            </tr>
        </table>
        
        
        <button type="submit" id="addButton">Add Task</button>
        
        
    </form>
    <!-- <form action="/delete-list" method="post"> -->
        <button type="submit" id="deleteButton">Delete Tasks</button> 
    <!-- </form> -->
    <ul>
            
        <% for (let i of todo_list) { %>
            <div class="todo">
                <div class="tick-box">
                    <input type="checkbox" name="deletecheck" class="deletecheck" onclick="checkedOrNot()" uid = <%= i._id %> >
                </div>
                <div class="card-body task-body"> 
                    <!-- <input type="checkbox" class="select-task" id="checkbox" name="<%= i._id %>"> -->
                    <p class = "desc" uid = <%= i._id %> id=<%= i._id %>><%= i.description %></p>
                    <p class = "catg"><%= i.category %></p>
                    <p class = "dueDate" id=<%= i._id + i.dueDate %>><%= i.date %></p>
                </div>
            </div>
            
        <% } %>


        <!-- if task list is empty then no task added message will be printed -->
        <% if( todo_list.length == 0 ) {%>
            <h1 style="text-align: center;">No task Added Yet!</h1>
    
        <% } %>

    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="/js/delete_todos.js"></script>